<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
      <h1 style="color: Aliceblue">BOOKS</h1>
      <div class="d-flex">
          <button type="button" class="btn btn-success" routerLink="" >Books</button>
          <button type="button" class="btn btn-success mx-3" routerLink="login"  >Login</button>
          <button type="button" class="btn btn-success" style="cursor:pointer" routerLink="/login" >Logout</button>
          <button type="button" class="btn btn-success mx-3" routerLink="/add" style="cursor:pointer">Add Book</button>
          <button type="button" class="btn btn-success" routerLink="/signup" style="cursor:pointer" >Register</button>
      </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>